$primary-color:#007bff;
$text-color:#161c2d;
$c-font:14px;
$backcolor: #f6f7fa;
$p_color:#8492a6;

*{
  font-family:sans-serif;
}

.text-color{
  color: $p-color;
}
.section{
  padding: 80px 0px;
}
.p_p{
  padding: 20px 0px;
}
.text-white{
  color: #fff;
  
}
//-------------Header-------------------css start
.primary{
  color: $primary-color !important;
}
.primary:hover{
  color: $primary-color !important;
}
.bg_s{
  color:$primary-color;
  background-color: transparent;
}

.color{
  color:$text-color !important;
}
a#collasible-nav-dropdown{
  color: $text-color;

}

.right {
  margin-left: auto;
}


span.navbar-toggler-icon {
  filter: invert(1);
}
.card_{
  margin-top: -20px;
  z-index: 99;
}
/*-----------Header ENd -----------------------*/


canvas.tsparticles-canvas-el {
  position: absolute !important;
}
.justify-center{
  justify-content: center;
}


/*----------------------About ------------------*/
h2.type {
  display: flex;
  align-items: baseline;
}
h2.type>span {
  padding-left: 10px;
}

.Details {
  padding: 18px;
  border-radius: 10px;
 
}
.title {font-weight: 600;font-size: 18px;padding-bottom: 10px;border-bottom: 0.5px dashed #d4dae1;}
.name{
  font-family: cursive;
}
.card_.card {
  border: 0px;
}


/*-----------------------End About----------------*/


/*----------------------------Service --------------*/


.serv {
 
  background-color: $backcolor;
  padding-bottom: 5%;
}
.m-t{
  padding-top: 5%;
  
}
.m-t-10{
  padding-top: 20px;
}
.border-radius{
  border-radius: 5px;;
}
.box>svg{
  color: $primary-color;
  height: 38px;
  width: 38px;
}
.box {
  padding: 30px 40px;
  background-color: #ffffff;
  border: 0px;
   -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
-webkit-box-shadow: -0.0625rem 0 0.625rem 0 rgba(0, 0, 0, 0.07), 0.3125rem 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.04) !important;
        box-shadow: -0.0625rem 0 0.625rem 0 
}
.s_title {
  font-size: 20px;
  padding: 12px;
  font-weight: 500;
}

/*-----------------------------End Service ------------------*/



/*----------------------------Workp--------------------*/


.UX_one.col {
  display: flex;
  border: 1px dashed #ccc;
}
.radius_l{
  border-radius: 100px 0px 0px;
}
.outer_c.col {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 50px;
}
p.icon {
  width: 82px;
  background-color: #f0f0fe;
  font-size: 55px;
  border-radius: 40px;
  margin: 3px 8px;
  line-height: 86px;
}
p.icon>svg {
  margin: 5px 10px;
}
mark {
  float: right;
  margin-top: -31px;
  color: $primary-color;
  background-color: rgba(0, 123, 254, 0.08) !important;
}
.w_s {
  max-width: 35%;
}
.m-t-w {
  margin: 80px 0px;
}
.radius_r{
  border-radius: 0px 0px 100px 0px;
}
.w_c{
  display: flex;
  align-items: center;
  justify-content: center;

}
.w_ss {
  margin-top: -65px !important;
}
.w_sss {
  margin-top: -62px;
}
.w_ssss {
  margin-top: -66px;
}
p.icon>svg{
  color: $primary-color;
}
/*------------------------------------End workp----------------------*/


/*------------------------------Counter-----------*/

.count{
  background-image: url(../src/componets/Images/bg-pattern.png);
}
.Count_b {
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
   justify-content: center; 
  /* align-items: center; */
 
  text-align: center;
  display: flex;
  flex-direction: column;
}




/*---------------------------------End Counter-------------*/



/*---------------------------------Footer css------------------------------*/




.f_b {
  padding: 50px;

}

.number{
  justify-content: center;
}

/*------------------------------------------End footer css-------------*/

/*---------------------------Footer Bottom----------------*/

.f_bottom{
  background-color: #e3eef8;
}
.f_icon>a {
  border: 1px solid;
  border-color: $primary-color;
  margin: 10px;
  border-radius: 50%;
  font-size: 22px;
  color: $primary-color;
  width: 40px;
  height: 40px;
}
.f_icon>a>svg{
  color: $primary-color;
  display: block;
}
/*------------------------------End Footer Bottom-------------*/


/*---------------------------------Copy right ------------------*/



.copyright {
  background-color: #161c2d;
  color: #fff;
  padding: 10px;

}

button#to{
  position: fixed;
  bottom: 8px;
  right: 30px;
  background-color: rgba(0, 123, 255, 0.3);
  border: 1px solid rgba(0, 123, 255, 0.3) !important;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  font-size: 32px;
  line-height: 15px;
}


/*------------------------------Top scroll---------------------*/




/*------------------------------End Scroll---------------------------*/


/*---------------------------------End copy right--------------*/