$primary-color:#007bff;
$text-color:#161c2d;
$c-font:14px;


//-------------Header-------------------css start
.bg_s{
  color:$text-color;
}
.color{
  color:$text-color !important;
}
a#collasible-nav-dropdown{
  color: $text-color;

}

.right {
  margin-left: auto;
}


span.navbar-toggler-icon {
  filter: invert(1);
}
/*-----------Header ENd -----------------------*/